body{background-color: #014d4e;
background-size: cover;}

ul{list-style-type:inline;
	padding: 0;
	text-align: centre;}

	li a{display: inline;
		margin-right:20px;
		color: white;


		}
		li:hover{
			background-color: #333;

		}

		href{color: white;
			text-decoration: none;}

			h1{ background-color: #014d4e ;
				text-align: center;
				color: white;
			}
			

				p{font-size: 16px;
					color: white;
				text-align: justify;}
				

					img{width: 500px;
						border: 2px;
						display: inline-flex;
							margin: 20px;}


.carousel{
	align-items: center;
	display: flex;
	overflow: hidden;
	justify-content: center;
	gap:5px;
}
.carousel-img{
	box-sizing: border-box;
	transition: transform 0.5s ease-in-out;

}
.carousel-img:hover{
	transform: scale(1.05) ;

}}
footer{ text-align: center;
	color: white;
	padding: 10px 0px;
	background-color: #014d4e ;


 footer{ text-align: center;
                background-color: :#014d4e;
                color: white;}               
:





